body {
  margin: 0;
  font-family: 'Dosis', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Dosis', sans-serif !important;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}


.w-80 {
  width: 80%
}
