.sidebar {
    background-color: lightgray;
}

.sidebar-button {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid darkgray;
    background-color: inherit;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}

.selected {
    background-color: darkgray;
}

.products {
    margin-top: -3rem;
}
